{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>This is the Home Page</h1>
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger after-dismissible fade show" role="elert">
                {{ messages }}
                <button type="button" class="close" data-dismiss="alert">
                    <span class="" aria-hidden="'true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}