{% extends 'base.html' %}
{% block title %}SignUp{% endblock %}
{% block content %}
    <form action="" method="post">
        <h3 align="center">Sign-Up</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required><br>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter First Name" required><br>
            <label for="password1">Enter Password</label>
            <input type="password1" name="password1" id="password1" class="form-control" placeholder="Enter password" required><br>
            <label for="password2">Confirm Password</label>
            <input type="password2" name="password2" id="password2" class="form-control" placeholder="Confirm password" required><br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>
{% endblock %}